export INCLUSIFY_OWNER="$owner"                        // REQUIRED: Name of the GitHub org or user account where the repo lives
export INCLUSIFY_REPO="$repo"                          // REQUIRED: Name of the repo
export INCLUSIFY_TOKEN="$github_personal_access_token" // REQUIRED: Your GitHub personal access token that has write access to the repo
export INCLUSIFY_EXCLUSION=".git/,README.md"           // OPTIONAL: Comma delimated directories/files that should not be updated. This defaults to nil. 
export INCLUSIFY_BASE="master"                         // OPTIONAL: Name of the current default base branch for the repo. This defaults to "master"
export INCLUSIFY_TARGET="main"                         // OPTIONAL: Name of the new target base branch for the repo. This defaults to "main"